<p id="notice"><%= notice %></p>



<p>
  <b>Name:</b>
  <%= @redis_database.name%>
</p>




<%= link_to 'Edit', edit_redis_database_path(@redis_database) %> |
<%= link_to t("formtastic.actions.back"), redis_databases_path %>
