<p class="pageheading"><%= t("headings.new.heading", :model=>t($ARM + "application", :count=>1))%></p>
<%= render 'form' %>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'application', :count=>1)), new_application_path %> |
<%= link_to t("actions.back"), applications_path %>
