<p class="pageheading"><%= t("headings.new.heading", :model=>t($ARM + "calmapp_version", :count=>1))%></p>
<%= render 'form', :locals => {:state =>"new"} %>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'calmapp_version', :count=>1)), new_calmapp_version_path %> |
<%= link_to t("actions.back"), calmapp_versions_path %>
