<p class="pageheading"><%= t("headings.new.heading", :model=>t($ARM + "translation_upload", :count=>1))%></p>
<%= render 'form' %>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'translation_upload', :count=>1)), new_translation_upload_path %> |
<%= link_to t("actions.back"), translation_uploads_path %>
