<p class="pageheading"><%= t("headings.new.heading", :model=>t($ARM + "calmapp", :count=>1))%></p>
<%= render 'form' %>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'calmapp', :count=>1)), new_calmapp_path %> |
<%= link_to t("actions.back"), calmapps_path %>
