<p class="pageheading"><%= t("headings.new.heading", :model=>t($ARM + "version_status", :count=>1))%></p>
<%= render 'form' %>
<%= link_to t('headings.new.heading', :model=> t($ARM + 'version_status', :count=>1)), new_version_status_path %> |
<%= link_to t("actions.back"), version_statuses_path %>
