<p id="notice"><%= notice %></p>

<p>
  <b>Status:</b>
  <%= @version_status.status %>
</p>


<%= link_to 'Edit', edit_version_status_path(@version_status) %> |
<%= link_to 'Back', version_statuses_path %>
